<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>

<table class="table table-boldered">
    <thead>
        <tr>
            <td>
                职缺</td>
            <td>薪资下限</td>
            <td>薪资上限</td>
            <td>刊登时间</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>


<div class="col-md-9 col-xs-12 job-box">
      <!--=== 职位信息 ===-->
      <div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><a target="_blank" href="/jobs/7">hi</a></h3><span>2017-05-03</span>
        </div>
        <div class="info-mid">
          1 k ~ 10 k
        </div>
        <div class="info-bot">
          <span class="category"><span class="fa fa-laptop"> 技术</span>
        </span></div>
      </div>

      <!--=== 公司信息 ===-->
      <div class="col-md-6 col-xs-12 company">
        <div class="company-top">
          <span><a href="/jobs/7">hi</a></span>
            <a rel="nofollow" data-method="post" href="/jobs/7/add">
              <span class="fa fa-star-o"></span>
</a>        </div>
        <div class="company-mid">
          <span class="fa fa-envelope"></span><span>sfs@dd.com</span>
        </div>
        <div class="company-bot">
          <span class="fa fa-map-marker"></span><span>北京</span>
        </div>
      </div>
    </div>

<div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><a target="_blank" href="/jobs/5">1</a></h3><span>2017-05-01</span>
        </div>
        <div class="info-mid">
          111 k ~ 111111 k
        </div>
        <div class="info-bot">
          <span class="category"><span class="fa fa-tasks"> 产品</span>
        </span></div>
      </div>
