<div class="content">
  <div class="container-fluid">
    <div class="job">

      <div class="row">

        <div class="job-bar col-md-10 col-md-offset-1 col-xs-12">
          <span class="job-bar-txt">找事做</span>
          <span class="job-bar-btn dropdown btn-group clearfix">
            <button class="btn btn-default dropdown-toggle" type="button color: #636262" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              排序 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
              <li><%= link_to("金额从大到小", jobs_path(:order => "by_lower_bound")) %></li>
              <li><%= link_to("金额从小到大", jobs_path(order: "by_upper_bound")) %></li>
              <li><%= link_to("最新发布时间", jobs_path) %></li>
            </ul>
          </span>
        </div>

        <% @jobs.each do |job| %>
        <div >
        <div class="job-box col-md-10 col-md-offset-1 colcol-xs-12">
          <div class="job-box-top">
            <div class="col-md-4"><%= link_to(job.title, job_path(job)) %></div>
            <div class="col-md-2"><i class="fa fa-calendar"></i><%= job.created_at.strftime("%Y%m%d") %></div>
            <div class="col-md-2"><i class="fa fa-arrow-right"></i><%= job.category %></div>
            <div class="col-md-2"><i class="fa fa-location-arrow"></i><%= job.location %></div>
            <div class="col-md-2"><i class="fa fa-jpy"></i><%= job.wage %><%= job.wage_unit %></div>
          </div>
          <div class="job-box-mid">
            <div class="col-md-6"><i class="fa fa-users"></i>公司/个人：<%= job.name %></div>
            <div class="col-md-6"><i class="fa fa-address-book"></i>联系方式：<%= job.contact %></div>
            <div class="col-md-6"><i class="fa fa-tasks"></i>工作内容：<%= job.content %></div>
            <div class="col-md-6"><i class="fa fa-trophy"></i>技能要求：<%= job.description %></div>
          </div>
          <div class="job-box-bot">
            <% if !current_user %>
            <%= link_to("发送意向", new_job_resume_path(job), class: "btn btn-xs btn-info") %>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
