<!-- index -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<% @jobs.each do |job| %>
				<section id="job-section">
					<div class="wrapper">
						<div class="job-section">

							<!--********** job logo **********-->
							<div class="col-sm-2">
								<% if job.company.title == 'Facebook' %>
									<img class="job-logo" src='http://i.imgur.com/zVU8xTV.jpg'>
								<% elsif job.company.title == 'Google'%>
									<img class="job-logo" src='http://i.imgur.com/afZPGbL.png'>
								<% elsif job.company.title == 'Amazon'%>
									<img class="job-logo" src='http://i.imgur.com/eJwYa9C.gif'>
								<% elsif job.company.title == 'Uber'%>
									<img class="job-logo" src='http://i.imgur.com/SOnKxie.jpg'>
								<% elsif job.company.title == 'Twitter'%>
									<img class="job-logo" src='http://i.imgur.com/9qGrqGG.png'>
								<% elsif job.company.title == 'Pinterest'%>
									<img class="job-logo" src='http://i.imgur.com/Tw58Bhw.png'>
								<% else %>
									<i class="logo-mini fa fa-file-text fa-fw fa-5x"  aria-hidden="true"></i>
								<% end %>
							</div>
							<!--********** job logo end **********-->

							<!--********** info **********-->
							<div class="col-sm-8">
								<div class="title">
									<!-- title -->
									<span><%= link_to(job.title, job_path(job)) %></span>
									<!-- starred / star -->
									<% if current_user && current_user.is_follower_of?(job) %>
										<%= link_to unstar_job_path(job), method: :post do %>
											<sapn class="fa fa-star"></sapn>
										<% end %>
									<% else %>
										<%= link_to star_job_path(job), method: :post do %>
											<sapn class="fa fa-star-o"></sapn>
										<% end %>
									<% end %>
								</div>
								<!-- category -->
								<p>
									<%= job.category %>
								</p>
								<!-- city & salary range -->
								<p>
									<i class="fa fa-location-arrow fa-fx" aria-hidden="true"></i>
									<%= job.city %>

									<i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
									<%= job.wage_lower_bound / 1000 %> K -
									<%= job.wage_upper_bound / 1000 %> K
								</p>
								<!-- description -->
								<p>
									<%=  job.description %>
								</p>
							</div>
							<!--********** info end **********-->

							<!--********** apply button **********-->
							<div class="col-sm-2 pull-right">
								<div class="button">
									<%= link_to(t('btn_job_apply'), new_job_resume_path(job), class: "btn btn-info btn-middle", method: :get) %>
								</div>
							</div>
							<!--********** apply button end **********-->


						</div>
					</div>
				</section>
			<% end %>
		</div>
	</div>
</div>

<!-- pagination -->
<div class="col-md-10 col-md-offset-1 job-bottom">
	<div class="text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>
