<h1><%= t('hd_new') %></h1>

<%= simple_form_for @job do |f| %>
  <%= f.input :category, :label => t('f_category') %>
  <%= select_tag(:company_id, options_for_select(@companies), :prompt => t('f_company')) %>
  <%= f.input :title, :label => t('f_title') %>
  <%= f.input :description, :label => t('f_description') %>
  <%= f.input :wage_lower_bound, :label => t('f_salary_min') %>
  <%= f.input :wage_upper_bound, :label => t('f_salary_max') %>
  <%= f.input :contact_email, :label => t('f_email') %>
  <%= f.input :city, :label => t('f_city') %>
  <%= f.input :address, :label => t('f_address') %>
  <%= f.input :is_hidden, :label => t('f_job_status') %>
  <%= f.submit t('f_submit') %>
<% end %>
